<!DOCTYPE html>
<html>
  <head>
    <title>TourCordinator | Add Itinerary</title>
  </head>
  <body>
      <h1>Select Your Itinerary</h1>

    <form accept-charset="UTF-8" action="show" method="get">

      <label for="itinerary">Itinerary</label><br />
      <input id="itinerary" name="itinerary" type="text" />
      <br />

      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Select" />
  </body>
</html>
