<!DOCTYPE html>
<html>
  <head>
    <title>TourCordinator | Create Tour</title>
  </head>
  <body>
      <h1>Create your tour!!</h1>

    <form accept-charset="UTF-8" action="auth" method="get">
      
      <label for="tour_name">Tour Name</label><br />
      <input id="tour_name" name="tour_name" type="text" />
      <br />

      <label for="from_date">From Date</label><br />
      <input id="from_date" name="from_date" type="text" />
      <br />

      <label for="to_date">To Date</label><br />
      <input id="to_date" name="to_date" type="text" />
      <br />

      <label for="Description">Description</label><br />
      <textarea id="description" name="description" rows="4" cols="40" />input description</textarea>
      <br />

       <label for="user_email">Email</label><br />
      <input id="user_email" name="user[email]" type="text" />
      <br />


      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Create tour" />
  </body>
</html>




